<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack ? error.stack : 'undefined or null' %></pre>
<br/>
<p><b>application path:</b> <%= app.path ? app.path : 'undefined or null' %></p>
<p><b>application env:</b> <%= app.env ? app.env : 'undefined or null' %></p>
<p><b>application cmd:</b> <%= app.cmd ? app.cmd : 'undefined or null' %></p>